# File will be provided by Moulinettte
*/ft_putchar.c

ex23/ft_point.c

ex24/srcs/
ex24/includes/

.gitignore

# CLion
/.idea/

# Generated gitignore bellow
# Object files
*.o

# Executables
*.exe
*.out
